@import "libs/var";
@import "libs/media";

.character-card {
  display: flex;
  flex-direction: row;
  height: calc(100% - 5rem);
  gap: 2rem;
  box-sizing: border-box;
}

.character-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  gap: 3rem;
  height: 100%;
}

.character-stuff {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;

  .item-slot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.character-main {
  width: 100%;
  // height: calc(100% - 5rem);
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: left;
}

.character-right {
  width: 35%;
  height: 100%;
}
